@import "tailwindcss";
.translate-y-0 {
  transform: translateY(0);
}

.-translate-y-full {
  transform: translateY(-100%);
}
.title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600; /* Medium = 500 | Semi-Bold = 600 */
}

.content {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}
